@import "tailwindcss";

body {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;

  margin: 0 auto;
  padding: 20px;
  background: #1a0b2e;
}

/* Nav style */

.span1 {
  color: white;
}
.span2 {
  background: linear-gradient(
    to bottom,
    rgb(243, 6, 6),
    rgb(255, 5, 180),
    rgb(250, 238, 3)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav_btn {
  color: white;
  border: 2px solid rgb(255, 5, 180);
  cursor: pointer;
  background-color: rgb(86, 85, 85);
  background-image: radial-gradient(
    circle,
    rgb(255, 5, 180) 50%,
    transparent 50%
  );
  background-size: 0% 0%;
  background-position: center;
  background-repeat: no-repeat;
  transition:
    background-size 0.8s ease,
    transform 0.8s ease;
}

.nav_btn:hover {
  transform: scale(1.2);
  background-size: 200% 200%;
}
.nav_anchor {
  cursor: pointer;
  transition:
    color 0.8s ease,
    transform 0.8s ease;
}
.nav_anchor:hover {
  color: rgb(255, 5, 180);
  transform: scale(1.2);
  background-size: 200% 200%;
}
/* Banner section */

.banner_container {
  background-image: url("assets/hero-bg.png");
  position: relative;
  width: 100%;
  height: 640px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 100% 100%;
}
.banner_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.new_btn {
  position: absolute;
  z-index: 20;
  margin-top: -150px;
  margin-right: -150px;
}
.img_text_container {
  margin-top: 250px;
  text-align: center;
}
.btn_img1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  background: linear-gradient(to right, rgb(238, 238, 12), #f41c1c, #2825e0);
  width: 12em;
  height: 3em;
  border:none;
  border-radius: 20px;
  transition: background-size 1s ease,transform 1s ease;
}
.btn_img1:hover{
  color: white;
  transform: scale(1.1);
  background-size: 200% 200%;
}

.btn_img2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  background: #1a0b2e;
  width: 12em;
  height: 3em;
  border: 1px solid #e97676;
  border-radius: 20px;
  transition:background-size
     1s ease,
    transform 1s ease;
}
.btn_img2:hover {
  background: linear-gradient(to right, rgb(243, 243, 16), #f91a1a, #211df5);
  color: white;
   transform: scale(1.1);
  background-size: 200% 200%;
}
.hero_circle{
  animation:hero_circle 1s linear infinite
}
@keyframes hero_circle {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.microphone{
  animation: microphone 1s linear infinite;
}
@keyframes microphone {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* main section card part */

.card_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.1em;
}
.headphone_card {
  grid-row: span 2;
}
.device_card,
.location_card,
.Exclusive_card {
  grid-column: span 2;
}
.resource_card {
  grid-column: span 1;
}
.footer_section {
  padding: 20px 0px;
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url("assets/footer-bg.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 100% 100%;
}
