@import "tailwindcss";

body {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;

  margin: 0 auto;
  padding: 20px;
  background: #1a0b2e;
}

/* Nav style */

.span1 {
  color: white;
}
.span2 {
  background: linear-gradient(
    to bottom,
    rgb(243, 6, 6),
    rgb(255, 5, 180),
    rgb(250, 238, 3)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav_btn {
  color: white;
  border: 2px solid rgb(255, 5, 180);
  cursor: pointer;
  background-color: rgb(86, 85, 85);
  background-image: radial-gradient(
    circle,
    rgb(255, 5, 180) 50%,
    transparent 50%
  );
  background-size: 0% 0%;
  background-position: center;
  background-repeat: no-repeat;
  transition:
    background-size 0.8s ease,
    transform 0.8s ease;
}

.nav_btn:hover {
  transform: scale(1.2);
  background-size: 200% 200%;
}
.nav_menu {
  display: none;
}
.nav_anchor {
  cursor: pointer;
  transition:
    color 0.8s ease,
    transform 0.8s ease;
}
.nav_anchor:hover {
  color: rgb(255, 5, 180);
  transform: scale(1.2);
  background-size: 200% 200%;
}
/* Banner section */

.banner_container {
  background-image: url("assets/hero-bg.png");
  position: relative;
  width: 100%;
  height: 655px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 100% 100%;
}
.banner_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.new_btn {
  position: absolute;
  z-index: 20;
  margin-top: -150px;
  margin-right: -150px;
}
.img_text_container {
  margin-top: 250px;
  text-align: center;
}
.btn_img1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  background: linear-gradient(to right, rgb(238, 238, 12), #f41c1c, #2825e0);
  width: 12em;
  height: 3em;
  border: none;
  border-radius: 20px;
  transition:
    background-size 1s ease,
    transform 1s ease;
}
.btn_img1:hover {
  color: white;
  transform: scale(1.1);
  background-size: 200% 200%;
}

.btn_img2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  background: #1a0b2e;
  width: 12em;
  height: 3em;
  border: 1px solid #e97676;
  border-radius: 20px;
  transition:
    background-size 1s ease,
    transform 1s ease;
}
.btn_img2:hover {
  background: linear-gradient(to right, rgb(243, 243, 16), #f91a1a, #211df5);
  color: white;
  transform: scale(1.1);
  background-size: 200% 200%;
}
.hero_circle {
  animation: hero_circle 1s linear infinite;
}
@keyframes hero_circle {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.microphone {
  animation: microphone 1s linear infinite;
}
@keyframes microphone {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* main section card part */

.card_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.5em;
}
.headphone_card {
  grid-row: span 2;
}
.device_card,
.location_card,
.Exclusive_card {
  grid-column: span 2;
}
.resource_card {
  grid-column: span 1;
}
.common_card_animation {
  opacity: 1;
  transition:
    card_left 0.8s ease,
    transform 0.8s ease;
}
.common_card_animation:hover {
  opacity: 0.8;
  background-color: rgba(240, 136, 136, 0.6);
  transform: scale(1.04);
}

/* card animation */
.card_action {
  transition:
    card_left 0.8s ease,
    transform 0.8s ease;
}
.card_action:hover {
  transform: scale(1.04);
}
/* Host social link */

.host_social_link {
  cursor: pointer;
  transition:
    card_left 0.7s ease,
    transform 0.7s ease;
}
.host_social_link:hover {
  transform: scale(1.5);
}
.techwave_social_link {
  cursor: pointer;
  transition:
    card_left 0.7s ease,
    transform 0.7s ease;
}
.techwave_social_link:hover {
  transform: scale(1.3);
}

.rounded_profile {
  cursor: pointer;
  animation: microphone 1s linear infinite;
}
.rounded_profile:hover {
  animation: none;
}
@keyframes rounded_profile {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Tech Wave Animation */
.left_dge {
  cursor: pointer;
  display: inline-block;
  transition:
    left_dge 1s ease,
    transform 1s ease;
}
.left_dge:hover {
  transform: rotate(-60deg);
}
.right_dge {
  cursor: pointer;
  display: inline-block;
  transition:
    right_dge 1s ease,
    transform 1s ease;
}
.right_dge:hover {
  transform: rotate(60deg);
}

.footer_section {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url("assets/footer-bg.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 100% 100%;
}

/* responsive layout */
@media screen and (max-width: 576px) {
  body {
    padding: 10px;
  }
  .nav_btn {
    display: none;
  }
  .nav_meddle_item {
    display: none;
  }
  .nav_menu {
    display: inline;
    cursor: pointer;
    transition:
      nav_menu 0.8s ease,
      transform 0.8s ease;
  }
  .nav_menu:hover {
    transform: scale(1.5) rotate(360deg);
  }
  .banner_container {
    background-size: 200% 100%;
  }
  .hero_circle {
    width: 200px;
    height: 200px;
  }
  .microphone {
    width: 45px;
    height: 50px;
  }
  .about_product {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card_container {
    display: flex;
    flex-direction: column;
  }
  .Featured_card {
    display: grid;
    grid-template-columns: 1fr;
  }
  .host_respons {
    display: flex;
    flex-direction: column;
  }
  .host_text_config {
    text-align: center;
  }
  .host_link_config {
    justify-content: center;
  }
  .footer_section {
    background-size: 200% 100%;
  }
  .footer_text_div {
    padding: 40px;
  }
}
